PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/medicare
FRONTEND_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174
JWT_SECRET=change-this-to-a-long-random-string

# Optional
# CLOUDINARY_CLOUD_NAME=
# CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=
# STRIPE_SECRET_KEY=
